{
    "extends": [
        "stylelint-config-recommended-scss",
        "stylelint-config-property-sort-order-smacss"
    ],
	"rules": {
		"indentation": 4,
        "max-empty-lines": 3,
		"no-empty-source": true,
        "property-no-unknown": true,
		"block-no-empty": true
	}
}
